/* Authors.css */
@import "../../index.css";

.authors-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  background-color: var(--primary-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  margin: 20px;
}

.authors-container h1 {
  font-size: var(--big-font);
  color: var(--primary-black);
  margin-bottom: 1rem;
}

.authors-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  width: 100%;
  max-width: 500px;
  text-align: center;
}

.authors-list li {
  padding: 1.5rem;
  font-size: var(--medium-font);
  color: black;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 1.5rem 0;
  border-radius: 5px;
}

.authors-list li:last-child {
  margin-bottom: 0;
}

.loading,
.error {
  text-align: center;
  font-size: var(--medium-font);
  color: var(--tertiary-color);
  padding: 1rem;
}

@media (max-width: 600px) {
  .authors-container {
    padding: 10px;
  }

  .authors-list {
    max-width: 90%;
  }
}
